body {
    background-image: url("/home/quirky/Desktop/background.jpg");
    background-size: cover;
    border-color: blue;
}

h1 {
    color: blue;
    text-align: center;
}

p {
    
    font-size: 60px;
    text-align: center;
    color: red;
}
div{
	text-align: center;
}
nav{
	text-align: center;
}

